<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Deal Buddy</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <div class="container">
    <div class="login">
      <h1>CPS Validation</h1>
      <hr>
      <form action="/result" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="input" name="file" id="file">
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-large">Upload</button>
      </form>
      <br>
      <br>
    </div>
</body>

</html>
</div>
